.row{   
    vertical-align: middle;
    margin-bottom: 20px;
}
button{
    margin-top: 25px;
}
#inventory{
    margin-bottom: 20px;
    text-align: center;
}
#index{
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
    text-align: center;
}
.button{
    display: inline-block;
    margin-top: -15px;
}